.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

.clients__link {
    display: flex;
    height: 92px;
    width: 210px;
    border: 1px solid;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--fourth-color);

    transition: border var(--transition-duration-function);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients__link {
        width: 226px;
    }
}

@media screen and (min-width: 1200px) {
    .clients__link {
        width: 170px;
    }
}


.clients__logo {
    fill: currentColor;
    width: 106px;
    height: 60px;

    transition: fill var(--transition-duration-function);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}