.hero {
    background-color: var(--second-background);

    text-align: center;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),

        url('../../images/hero_photo/hero_mob_1x.jpg');
    max-width: 1600px;
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 
screen
2x +
0px - 767px
*/
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url('../../images/hero_photo/hero_mob_2x.jpg');
        padding-top: 118px;
        padding-bottom: 118px;
    }
}

/* 
768px +
*/
@media screen and (min-width: 768px) {
    .hero {
        background-image: url('../../images/hero_photo/hero_tablet_1x.jpg');
        padding-top: 118px;
        padding-bottom: 118px;

    }
}

/* 
screen
2x +
768px +
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: url('../../images/hero_photo/hero_tablet_2x.jpg');
        padding-top: 118px;
        padding-bottom: 118px;
    }
}

/* 
1200px +
*/
@media screen and (min-width: 1200px) {
    .hero {
        background-image: url('../../images/hero_photo/hero_desktop_1x.jpg');
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

/* 
2x +
1200px +
screen
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: url('../../images/hero_photo/hero_desktop_2x.jpg');
        padding-top: 200px;
        padding-bottom: 200px;
    }
}



.hero__title {
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 0 auto;
}
    

@media screen and (min-width: 480px) {
    .hero__title {
        width: 360px;
        font-size: 26px;
        line-height: 1.62;
    }
}

@media screen and (min-width: 768px) {
    .hero__title {
        width: 360px;
        font-size: 26px;
        line-height: 1.62;
    }
}

@media screen and (min-width: 1200px) {
    .hero__title {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    font-family: inherit;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-color);
    border: none;
    cursor: pointer;

    padding: 10px 32px;
    margin-top: 30px;

    transition: background-color var(--transition-duration-function);

    &:hover,
    &:focus {
        background: #188CE8;
    }
}

@media screen and (min-width: 480px) {
    .hero__button {
        padding: 10px 24px;
    }
}

@media screen and (min-width: 768px) {
    .hero__button {
        padding: 10px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__button {
        padding: 10px 32px;
    }
}