.hero {
    background-color: var(--second-background);

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero_photo.jpg');
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 696px;
    margin: 0 auto;
}

.hero__button {
    font-family: inherit;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-color);
    border: none;
    cursor: pointer;

    padding: 10px 32px;
    margin-top: 20px;

    transition: background-color var(--transition-duration-function);

    &:hover,
    &:focus {
        background: #188CE8;
    }
}