.team {
    background-color: var(--background-color);
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__description {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-color);
}

.team__item {
    background-color: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
    .team__item {
        width: 450px;
    }
    .team__picture {
        width: 450px;
        height: 460px;
    }
}

@media screen and (min-width: 768px) {
    .team__item {
        width: 354px;
        }
    .team__picture {
        width: 354px;
        height: 374px;
    }
}

@media screen and (min-width: 1200px) {
    .team__item {
        width: 270px;
        }
    .team__picture {
        width: 270px;
        height: 260px;
    }
}