.filter__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px){
    .filter__list {
        justify-content: center;
        margin-bottom: 30px; 
    }
    
};

@media screen and (min-width: 1200px) {
    .filter__list {
        margin-bottom: 50px;
    }
}

.filter__button {
    background: var(--background-color);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: none;
    padding: 6px 22px;

    transition: background-color var(--transition-duration-function), box-shadow var(--transition-duration-function), color var(--transition-duration-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);

        color: var(--third-color);
    }
}

.filter__button__current {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: var(--accent-color);
    color: var(--third-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}