.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

.logo__color {
    color: var(--accent-color);
}

@media screen and (max-width: 767px) {
    .logo {
        font-size: 24px;
        line-height: 1.17;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        font-size: 24px;
        line-height: 1.17;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }
}