.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition: opacity 500ms ease-in, visibility 500ms ease-in;

}

.mobile-menu__container {
    position: relative;
    padding: 48px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.menu-button-close__icon {
    width: 40px;
    height: 40px;
    fill: var(--main-color);

    transition: fill var(--transition-duration-function);

    .menu-button-close:hover &,
    .menu-button-close:focus & {
        fill: var(--accent-color);
    }
}

.mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu-list {
    display: block;
}
    
.mobile-menu-list__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-color); 
}
    
.mobile-menu-list__link {
    display: block;
    padding-bottom: 32px;
}
    
.mobile-menu-list__link_current {
    color: var(--accent-color);
}
    
.mobile-menu-contacts {
    display: block;
    margin-top: auto;
}
    
.mobile-menu-contacts__item {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--second-color);
}

@media screen and (min-width: 480px) {
    .mobile-menu-contacts__item {
        font-size: 24px;
        line-height: 1.17;
    }
    .mobile-menu-contacts__link:hover,
    .mobile-menu-contacts__link:focus {
        font-size: 34px;
        line-height: 1.18;
    }
}


.mobile-menu-contacts__link {
    display: block;
    padding-bottom: 32px;
            
    &:hover,
    &:focus {
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
}



.mobile-menu-social-network {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 32px;
}
    
.mobile-menu-social-network__item {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);

        &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);   
        }
    }

.mobile-menu-social-network__link:hover,
.mobile-menu-social-network__link:focus {
    color: var(--accent-hover-color);
}