.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    display: block;
    margin-bottom: 10px;
}

.modal__label-comment {
    display: block;
    margin-bottom: 20px;
}

.modal__text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-color);
    margin-bottom: 4px;
}

.modal__input-block {
    display: block;
    width: 100%;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-duration-function);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}


.modal__comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border-color var(--transition-duration-function);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__input-wrapper {
    position: relative;
    display: block;
}

.modal__input-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
    fill: var(--main-color);

    transition: fill var(--transition-duration-function);

    .modal__input-block:focus+& {
        fill: var(--accent-color);
    }
}

.modal__check {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.71;
    color: var(--second-color);

    margin-bottom: 30px;
}

.modal__terms {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.modal__checkbox {
    position: absolute;
    appearance: none;
}

.modal__own-checkbox {
    display: flex;
    align-items: center;

    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 2px;

    .modal__checkbox:checked+& {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    .modal__checkbox:focus+& {
        box-shadow: 0 0 0 1px var(--accent-color)
    }
}

.modal__submit-button {

    min-width: 200px;
    min-height: 50px;
    align-self: center;

    font-family: inherit;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-color);
    border: none;
    cursor: pointer;

    padding: 10px 52px;

    transition: background-color var(--transition-duration-function);

    &:hover,
    &:focus {
        background: #188CE8;
    }
}