body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--third-color);
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style-type: none;
}