:root {
    --main-color: #212121;
    --second-color: #757575;
    --third-color: #FFFFFF;
    --fourth-color: #AFB1B8;
    --accent-color: #2196F3;
    --background-color: #F5F4FA;
    --second-background: #2F303A;
    --third-background: #F5F5F5;
    --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}